---
layout: default
---

<link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<body id="page-top" class="index">
  <!-- Navigation -->
   <!-- Header -->
<header>
   <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <img class="img-responsive" src="../img/profile.png" alt="">
               <div class="intro-text">
                   <hr>
                   <span class="skills">Engineer in San Francisco Bay Area</span>
               </div>
           </div>
       </div>
   </div>
</header>

<section id="bio">
<div class="container">
   <div class="row">
       <div class="col-lg-12 text-center">
           <h2>About Me</h2>
           <hr class="star-primary">
       </div>
   </div>
   <div class="row">
 <div class="col-sm-6">
<p>
  Over 10+ years of experience as a software engineer with a wealth of experience
  in scalable systems ,data platforms and machine learning.I have worked at various 
  consumer technology companies solving problems at scale <b>(eBay,Fanatics,Uber,Target,Wealthfront)</b>
</p>
<p>
   <a href="https://www.linkedin.com/in/saurabhdhupar/">See my LinkedIn profile</a> for more career details.
</p>
 </div>
 <div class="col-sm-6">
   <h3 style="margin-top:0;">Highlights</h3>
   <ul>
 <li>
  Worked as an engineer in <b>Uber</b> Data Infrastructure team to build a scalable and reliable platform to orchestrate, schedule and execute data processing pipeline and complex ETL workflows using UI or through writing python code. It solves business problems that span across various products (Eats/ Rides) and teams (Safety, Marketplace);also works as the backend engine to power on ML, AI, data ingestion, data quality
 </li>
 <li>
  Lead all data engineering efforts for experimentation framework at <b>Target</b>. Scaled team from 2 to 7 engineers. As part of this job I designed and implemented key data infrastructure tools to develop, deploy, scale, and operationalize real-time pipelines as well as batch pipelines.
 </li>
 <li>
  I just turned my passion for sports into a place in <b>Fanatics</b>, the world’s premiere online destination for sports apparel and merchandise. As part of an aspiring team of data science team, I was given the freedom to explore new ideas that would take our $1B+ online business to the next level. When we needed to launch something different for Fanatics, I worked on new search engine with unprecedented accuracy, speed and scalability. 12 months later we’ve exceeded our 6-month goal for revenue generation by <b>$3M</b>
 </li>
 <li>
  <b>Won multiple hackathon</b> competitions at <b>eBay</b>. Got an opportunity to work with Mark Carges (CTO) to take the hackathon project to production.
 </li>
 </ul>
 </div>
   </div>
</div>
</section>

<section class="success" id="projects">
<div class="container">
   <div class="row">
       <div class="col-lg-12 text-center">
           <h2>Projects</h2>
           <hr class="star-light">
       </div>
   </div>
       <div class="row">
           <div class="col-sm-6">
   <p>
    <h3 style="margin-top:0">Personal Interests</h3>
 <ul>
     <li>
      <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several <a href="https://www.coursera.org/account/accomplishments/specialization/45ZM3XQUTZ6D">online classes</a>, and participate in <a href="https://www.kaggle.com/saurabhdhupar"> Kaggle Competitions</a> .
     </li>
     <li>
      <b>Big Data Computing</b>. I have been working with <a href="https://github.com/apache/airflow/pulls?q=is%3Aclosed+is%3Apr+author%3Asaurabhdhupar+">Spark / Airflow</a> for last few years and actively follow and time to time contribute to these open source projects.
    </li>
    <li>
      <b>Hiking</b>. I live in the San Francisco Bay Area, home of some of the greatest mountains and trails in the country. I enjoy exploring outdoors activities.
  </li>
 </ul>
   </p>
</div>
<div class="col-sm-6">
  <h3 style="margin-top:0">Outside Work</h3>
  <ul>
    <li>
  <a href="https://github.com/saurabhdhupar/pypandas-sql">pypandas-sql</a> is an open-source package designed to make it easier to get data from most commonly used databases/data warehouse into a pandas DataFrame using SQL.
    </li>
    <li>
      Checkout my <a href="/">blog</a> where I try to write about things I have learnt or share my prespective on how to be become a better engineer
    </li>
      </ul>
      <h3>Other Things</h3>
      <ul>
    <li>
         Trying out various recipes from different parts of the world both at home and outside
    </li>
   </ul>
  </div>
</div>
</section>



<!-- jQuery Version 1.11.0 -->
<script src="../js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="../js/jqBootstrapValidation.js"></script>

<script src="../js/contact_me_static.js"></script>


<!-- Custom Theme JavaScript -->
<script src="../js/freelancer.js"></script>

<article class="page">

  
  <div class="entry">
    {{ content }}
  </div>
</article>


</body>

